


a { 
    color: inherit; 
    text-decoration: none;
} 

.title {
    margin: 2%;
}

.title-text {
    font-weight: 600;
    color: #10A7AF;
    font-size: 350%;
}

.after, .before {
    border: 4px double #c2c2c2;
    width: 120px;
    display: inline-block;
    content: "";
    margin: 9px 10px;
}



.nav {
    background-color: #10A7AF;
    padding: 1%;
    color: white;
}

.name {
    color: #10A7AF;
    margin-right: 10%;
}

.tag {
    color: white;
}

.no-dot {
    list-style-type: none;
    color: #10A7AF;
    font-weight: 700;
}

.no-dot-2 {
    list-style-type: none;
    color: white;
    font-weight: 700;
}

body {
    height: 100px; /* or any value */
    overflow-y: auto;
}

.intro {
    padding-top: 3%;
    background-image: url("static/pic2.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.headshot {
    max-width: 100%;
    max-height: 90%;
    border: 3px solid #10A7AF;
}

.no-dot-3 {
    list-style-type: none;
    color: #10A7AF;
    font-weight: 700;
    font-size: 150%;
}

.year {
    font-weight: 500;
    font-size: 110%;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: black;
}

.line {
    border-left: 3px solid grey;
    height: 100%;
}

.education-button {
    width: 50%;
}

.bottom {
    background-color: #10A7AF;
    height: 75%;
}

.end-text {
    color: white;
    font-weight: 700;
}
